<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vaporwave It</title>
        <link rel="stylesheet" href="view.css" type="text/css">
    </head>
    <body>
        <h1>Vaporwave It</h1>

        <input id="file" type="file"><br>
        <canvas id="myCanvas" width="800" height="600"></canvas>

        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
        </script>

        <!-- Img Loading Script -->
        <script src="../js/loadFile.js"></script>
    </body>
</html>