<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vaporwave It</title>
        <link rel="stylesheet" href="view.css" type="text/css">
    </head>
    <body>

        <div id="preview">
            <h1>Vaporwave It</h1>
            <div id="fileBtn"><input id="file" type="file"></div>
            <canvas id="myCanvas" width="800" height="600"></canvas><br>
            <button id="grayscaleBtn">Grayscale</button>
            <button id="randomBtn">Random</button>
            <button id="clearBtn">Clear</button>
        </div>

        <ul id="effectsList">

        </ul>

        <script src="../js/loadFile.js"></script>
        <script src="../js/grayscale.js"></script>
        <script src="../js/random.js"></script>
        <script src="../js/effectsPile.js"></script>

        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");

            var fileBtn = document.getElementById("fileBtn");

            var img = loadFile();
            var effectsList = document.getElementById("effectsList");

            var grayscaleBtn = document.getElementById("grayscaleBtn");
            grayscaleBtn.onclick = function () { addGrayscaleEffect(0.33, 0.33, 0.33); showEffects(); applyEffects(); };

            var randomBtn = document.getElementById("randomBtn");
            randomBtn.onclick = function () { addRandomEffect(0.3); showEffects(); applyEffects(); };

            var clearBtn = document.getElementById("clearBtn");
            clearBtn.onclick = function () { clear(); };
        </script>


    </body>
</html>