body
{
    margin: 0;
    padding: 0;
}

#effectsList
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;

    box-sizing: border-box;
    margin-top: 0;
    padding: 0;

    border-left: 1px solid black;
    background-color: #a7a7a7;
}

#effectsList li
{
    border-bottom: 1px solid black;
    list-style-type: none;
    padding: 10px;
}

.deleteBtn
{
    float: right;
}

#preview
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;

    box-sizing: border-box;
    margin-top: 0;
    text-align: center;

    background-color: #393939;
}

#fileBtn
{
    position: absolute;
    top: 49%;
    left: 40%;
}