@font-face
{
    font-family: VHS;
    src: url("../resources/vhs_font.ttf");
}

body
{
    margin: 0;
    padding: 0;
}

h1
{
    text-transform: uppercase;
    font-family: "VHS";
    letter-spacing: 10px;
    color: white;
}

button
{
    text-transform: uppercase;
    font-family: "VHS";
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px white;
    color: white;
}

#effectsPanel
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;

    box-sizing: border-box;
    margin-top: 0;
    padding-left: 0;
    padding-top: 10px;

    border-left: 2px solid white;
    background-color: #000;
}

#effectsPanelTitle
{
    text-transform: uppercase;
    font-family: "VHS";
    font-size: 1.2em;
    width: 100%;
    color: white;
    text-align: center;
}

#effectsList
{
    padding-left: 0px;
}

#effectsList li
{
    text-transform: uppercase;
    font-family: "VHS";
    font-size: 0.8em;
    border-bottom: 1px solid black;
    list-style-type: none;
    padding: 10px;
    color: white;
}

.effectBtn
{
    float: right;
    font-size: 0.7em;
    margin-left: 5px;
}

#preview
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;

    box-sizing: border-box;
    margin-top: 0;
    text-align: center;

    background-color: #000;
}

#fileBtn
{
    position: absolute;
    top: 49%;
    left: 40%;
}